.wrapper{
    display: flex;
    align-items: center;
    padding: 8px;
    border-radius: 10px;
    &:hover{
        background-color: var(--background-hover-strong);
    }
    img{
        width: 131px;
        height: 131px;
    }
}
.title{
    margin-left: 10px;
    p{
        font-weight: 500;
        font-size: 15px;
    }
    span{
        font-size: 12px;
        color: var(--word-sub-color);
    }
}