.content-title{
    margin-top: 10px;
    p{
        margin: 7px;
    }
    img{
        width: 16px;
        height: 16px;
        margin: 0 7px;
    }
    a{
        text-decoration: none;
        color: var(--primary-color);
        &:hover{
            text-decoration: underline;
        }
    }
}